@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

.btn-success {
    margin-bottom: 20px !important;
}

.btn-danger{
    margin-bottom: 20px !important;
}

#roadyend{
    margin-bottom: 50px !important;
}

#customercompany{
    margin-bottom: 50px !important;
}

#objectzebra{
    margin-bottom: 50px !important;
}

#scut{
    margin-bottom: 50px !important;
}

#signssum{
    margin-bottom: 50px !important;
}

#directioncity{
    margin-bottom: 50px !important;
}

body{
    display:flex !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background: '/background.jpg' !important;
}

.container{
    width: 40% !important;
}

select{
    width: 40% !important;
}


