@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

.btn-success {
    margin-bottom: 10px !important;
}

#roadyend{
    margin-bottom: 80px !important;
}

#customercompany{
    margin-bottom: 80px !important;
}

body{
    display:flex !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.container{
    width: 40% !important;
}

select{
    width: 40% !important;
}