@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

.btn-success {
    margin-bottom: 10px !important;
}

#roadyend{
    margin-bottom: 50px !important;
}

#customercompany{
    margin-bottom: 50px !important;
}

body{
    display:flex; 
    padding-left: 30px; 
    padding-right: 200px; 
    column-gap: 50px; 
    background: '/background.jpg'
}

.container{
    width: 40% !important;
}

select{
    width: 40% !important;
}

.form{
    padding: 100px; /* Поля */
    background: #E5D3BD; /* Цвет фона */
    border: 2px solid #E81E25; /* Параметры рамки */
}